---
import MovieCards from '../../components/MovieCards.astro';

const favoriteCookie = Astro.cookies.get("favorites");
const favorites = (favoriteCookie?.json() as number[]) || [];

const movies = await Promise.all(
  favorites.map(async (id) => {
    const res = await fetch(
      `https://api.themoviedb.org/3/movie/${id}?language=en-US&api_key=${import.meta.env.TMDB_API_KEY}`
    );
    return await res.json();
  })
);

export const partial = true;

---
<div class="flex justify-center">
  <p class="font-bold mb-3 text-2xl">Els teus Preferits</p>
</div>
<MovieCards movies={movies} />
