---
import { Icon } from 'astro-icon/components';

const movieId = Astro.props.movieId;

const favoriteCookie = Astro.cookies.get("favorites");
const favorites = (favoriteCookie?.json() as number[]) || [];
const isFavorite = favorites.includes(movieId);
---
<form
  hx-post="/partials/favorite"
  hx-swap="outerHTML"
  class="-translate-y-2 -translate-x-3"
>
  <input type="hidden" name="movieId" value={movieId} />
  {
    isFavorite
      ? <button class="drop-shadow drop-shadow-black text-yellow-400 hover:opacity-80 opacity-100">
          <Icon name="mdi:bookmark-check" size={50}/>
        </button>
      : <button class="drop-shadow drop-shadow-black hover:opacity-100 opacity-80">
          <Icon name="mdi:bookmark-plus" size={50}/>
        </button>
  }
</form>
