---
import SearchInput from "./SearchInput.astro";
import FavoritesCount from "./FavoritesCount.astro";
---

<html lang="ca">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>IPBd: La millor BBDD de pel·lícules a internet</title>
	</head>
	<body class="bg-black max-w-6xl mx-auto text-white hx-boost">
		<header class="flex justify-between items-center py-4 md:px-4 bg-neutral-900 mb-6">
      <h1 class="text-2xl flex px-5">
        <a href="/" class="font-bold text-black bg-yellow-400 rounded px-1 shadow-md shadow-black">IPBd</a>
      </h1>
      <SearchInput />
      <div id="favorites-count">
        <FavoritesCount />
      </div>
    </header>
    <slot />
    <div class="text-sm text-center p-10 text-neutral-400">© 2024 by <a href="https://github.com/abonmassip" class="hover:text-white" target="_blank">abonmassip</a></div>
	</body>
</html>
